<div class="row" style="padding-bottom: 100px; padding-top: 100px; background-color: white;">
	<div class="span5 offset4">
		<h1>Be part of Crowdcities!</h1>
		<p class="lead">Tell us how you would like to contribute.</p>
		
		<form class="form-horizontal" action="http://nomnomnom.createsend.com/t/t/s/yhiukl/" method="post">
			<div class="control-group">
		        <label class="control-label" for="fieldName">Name</label>
		        <div class="controls">
		        	<input id="fieldName" name="cm-name" type="text" />
		        </div>

		        <br>
		        <label class="control-label" for="fieldEmail">Email</label>
		        <div class="controls">
		        <input id="fieldEmail" name="cm-yhiukl-yhiukl" type="email" required />
		        </div>

		        <br>
				<label class="control-label">Interest</label>
				<div class="controls">
			        <label for="fieldbedl-0" class="checkbox">
					  <input id="fieldbedl-0" name="cm-fo-bedl" value="165395" type="checkbox" />
					  Urban Transport
					</label>

					<label for="fieldbedl-1" class="checkbox">
					  <input id="fieldbedl-1" name="cm-fo-bedl" value="165396" type="checkbox" />
					  Waste Management
					</label>

					<label for="fieldbedl-2" class="checkbox">
					  <input id="fieldbedl-2" name="cm-fo-bedl" value="165397" type="checkbox" />
					  Infrastructure &amp; Public Facilities
					</label>

					<label for="fieldbedl-3" class="checkbox">
					  <input id="fieldbedl-3" name="cm-fo-bedl" value="165398" type="checkbox" />
					  Recreation &amp; Open Space
					</label>

					<label for="fieldbedl-4" class="checkbox">
					  <input id="fieldbedl-4" name="cm-fo-bedl" value="165399" type="checkbox" />
					  Lifestyle &amp; Culture
					</label>

				</div>

				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Subscribe</button>
				</div>

		    </div>
		</form>
	</div>
</div>