
<div class="span5 offset3">
	<img src="/assets/Crowdcities-brick.png" style="margin-bottom: 40px;">
	<h1 style="color: white;">CrowdCities</h1>
	<h2 style="color: white; font-weight: 300;">The Crowdsourcing Platform <br>for Urban Development</h2>

	<br><br>

	<div class="createsend-button" style="height:27px;display:inline-block;" data-listid="t/24/8BD/C61/F3F24F45896ABFC6">
	</div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=2'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
	<br><br>
	<div class="fb-like" data-href="https://www.facebook.com/crowdcities" data-send="true" data-width="450" data-show-faces="true" data-font="trebuchet ms" data-colorscheme="dark"></div>

</div>

