<div class="blur-background" style="padding-top: 150px; padding-bottom: 100px;">
	<div class="container">
	  <div class="row">
	    <div class="col-md-7">
	      <h1>Cities for Everybody by Everybody</h1>
	      <p>CrowdCities serves as a platform for local communities to engage in the development of their own cities. Registered citizens can contribute ideas for urban initiatives and create projects or petitions on our platform to be supported jointly by the public, corporations and the government.</p>
	      <br><br><h2>Coming Soon</h2>
	    </div>
	  </div>
	</div>
</div>

<div class="row" style="background-color: #f8f8f8; border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; margin: 0px 0px;">
  <div class="container text-center" style="margin-top: 30px; margin-bottom: 30px;" id="communities">
      <form action="http://nomnomnom.createsend.com/t/t/s/yhiukl/" method="post" class="form-inline" role="form">
        <div class="form-group row" style="padding: 0 5px; margin: 0 0;">
        	<div class="col-lg-3" style="padding: 0px 2px;">
        		<input id="fieldName" name="cm-name" type="text" class="form-control input-lg" placeholder="Your name" />
        	</div>
        	<div class="col-lg-5" style="padding: 0px 2px;">
       		 	<input id="fieldEmail" name="cm-yhiukl-yhiukl" type="email" class="form-control input-lg" placeholder="and your e-mail" required />
        	</div>
        	<div class="col-lg-2" style="padding: 0px 2px;">
        		<button type="submit" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-envelope icon"></span>Subscribe</button>
        	</div>
        </div>
      </form>
  </div>
</div>

<div class="container" style="background-color: white;">
	<div class="row text-center">
		<h3>Local Communities</h3>
		<div class="col-md-4">
			<img src="/assets/citizen.png" width="150">
			<h4>Register as Citizens</h4>
			<p>Registered citizens on CrowdCities are allowed access to activities such as signing of online petition.</p>
		</div>
		<div class="col-md-4">
			<img src="/assets/verification.png" width="150">
			<h4>Verify your Account</h4>
			<p>Empower your actions on CrowdCities by verifying your account with scanned official documents.</p>
		</div>
		<div class="col-md-4">
			<img src="/assets/neighbourhoods.png" width="150">
			<h4>Join Neighbourhoods</h4>
			<p>Participate in projects around your neighbourhood and stay connected to projects in your local community.</p>
		</div>
	</div>
</div>

<hr id="projects">

<div class="container" style="background-color: white;">
	<div class="row">
		<div class="col-md-5">
			<h3>Projects</h3>
			<p>Project owner can create a project and list it on our platform with the help of our team. Listed projects will then be open to pledges from the public, corporations, and government to meet the target funding before execution of work takes place.</p>
			<p>Drop as a mail at <a href="mailto:projects@crowdcities.com?Subject=I%20have%20an%20idea!" target="_top">projects@crowdcities.com</a> and we'll see how we can help!
		</div>
		<div class="col-md-5 col-md-offset-1">
			<h3>Petitions</h3>
			<p>Registered citizens can create and sign online petitions to be used to make a written request to decision makers, ensuring that the voices of the mass are heard.</p>
		</div>
	</div>


	<div class="row" style="padding-top: 0px;">
		<p>Urban Initiatives in Kuala Lumpur</p>
		<div class="col-md-2">
			<a href="https://www.facebook.com/villagebicycles/" target="_blank">
			<img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash2/843908_527145123975229_494407850_o.jpg" width="120" class="img-rounded"><br><p>KL Bicycle Map Project</p>
			</a>
		  <div class="fb-like" data-href="https://www.facebook.com/villagebicycles/" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
		</div>
		<div class="col-md-2">
			<a href="https://www.facebook.com/FreeTreeSociety/" target="_blank">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-frc3/1383865_406835122779096_821082816_n.jpg" width="120" class="img-rounded"><br><p>Free Tree Society Kuala Lumpur</p>
			</a>
		  <div class="fb-like" data-href="https://www.facebook.com/FreeTreeSociety/" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
		</div>
		<div class="col-md-2">
			<a href="https://www.facebook.com/MESYM11/" target="_blank">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/21283_578270798870212_1901946467_n.jpg" width="120" class="img-rounded"><br><p>Malaysia Environmental Sustainability Youth Movements</p>
			</a>
		  <div class="fb-like" data-href="https://www.facebook.com/MESYM11/" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
		</div>
		<div class="col-md-2">
			<a href="https://www.facebook.com/groups/318464218254648" target="_blank">
				<img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn1/14793_550717451638_404562567_n.jpg" width="120" class="img-rounded"><br><p>TTDI The Edible Project</p>
			</a>
		</div>
		<div class="col-md-2">
			<a href="https://www.facebook.com/CoOrbital/" target="_blank">
				<img src="http://www.orbiting.com.my/wp-content/uploads/2013/08/store_badge.png" width="120" class="img-rounded"><br><p>Orbiting – Car Sharing App</p>
			</a>
			<div class="fb-like" data-href="https://www.facebook.com/CoOrbital/" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
		</div>
		<div class="col-md-2">
			<a href="https://www.facebook.com/urbanify.me/" target="_blank">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash4/408678_336486166473810_2022686583_n.png" width="120" class="img-rounded"><br><p>Urbanify – The Chair Project</p>
			</a>
		  <div class="fb-like" data-href="https://www.facebook.com/urbanify.me/" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
		</div>
	</div>
</div>

<hr id="stakeholders">

<div class="container">
	<div class="row text-center">
	    <h3>Supported By</h3>
	    <div class="col-md-4">
	      <img src="/assets/public.png" width="150">
	      <h4>Public</h4>
	      <p>Fund the projects you want to see happen in your city. Collaborate with local heroes on urban initiatives. Volunteer and make social impact.</p>
	    </div>
	    <div class="col-md-4">
	      <img src="/assets/corp.png" width="150">
	      <h4>Corporations</h4>
	      <p>Private sector companies can help fund projects as part of their CSR initiatives and build social relationship with local communities.</p>
	    </div>
	    <div class="col-md-4">
	      <img src="/assets/gov.png" width="150">
	      <h4>Government</h4>
	      <p>Local authorities can direct funds towards projects that are demanded by the public.</p>
	    </div>
	  </div>
	</div>
</div>

<div class="row" style="background-color: #f8f8f8; border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; margin-bottom: 0px;">
  <div class="container text-center" style="margin-top: 10px; margin-bottom: 30px;">
      <form action="http://nomnomnom.createsend.com/t/t/s/yhiukl/" method="post" class="form-inline" role="form">
        <div class="form-group row" style="padding: 0 5px; margin: 0 0;">
        	<h3 style="margin-bottom: 10px;">Get Involved</h3>
        	<div class="col-lg-4" style="padding: 0px 2px;">
        		<input id="fieldName" name="cm-name" type="text" class="form-control input-lg" placeholder="Your name" />
        	</div>
        	<div class="col-lg-6" style="padding: 0px 2px;">
       		 	<input id="fieldEmail" name="cm-yhiukl-yhiukl" type="email" class="form-control input-lg" placeholder="and your e-mail" required />
        	</div>
        	<div class="col-lg-2" style="padding: 0px 2px;">
        		<button type="submit" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-envelope icon"></span>Subscribe</button>
        	</div>
        </div>
      </form>
  </div>
</div>

<div class="container">

	<div class="row">
		<div class="col-md-4">
			<p>Winner of Social Innovation Camp Asia<br>Kuala Lumpur 2013</p>
			<a href="http://sicampasia.com/"><img src="/assets/sicampasia-logo.png"></a>
		</div>
		<div class="col-md-4">
			<p>Media Partners</p>
			<a href="http://www.bfm.my/tech-talk-social-innovation-camp-kl-episode-one.html"><img src="/assets/logo_bfm.gif" width="150"></a>
			<br><br><br>
			<a href="http://www.thestar.com.my/Business/SME/2013/09/24/Bootstrapping-social-causes-Weekend-event-refines-ideas-to-address-community-issues.aspx"><img src="/assets/star-logo.png" width="150"></a>
		</div>
		<div class="col-md-4">
			<p>Supported by</p>
			<a href="http://www.undp.org"><img src="/assets/UNDP.png" width="100"></a><br><br>
			<img src="/assets/logo-sunway-university-300x123.jpg" width="150"><br><br>
			<a href="http://www.jeffreycheahfoundation.org.my"><img src="/assets/origination_of_logo_img01-300x154.jpg" width="200"></a>
		</div>
	</div>

  <hr style="margin: 0 0;">

  <div class="row">
    <div class="col-md-5 col-md-offset-1">
    <br>
      <img src="/assets/team.jpg" width="350">
    </div>
    <div class="col-md-5">
      <h4>Team Building</h4>
      <p>We are recruiting social entrepreneurs to help us build CrowdCities platform to transform the way public properties and spaces in cities are being built. 

		If you’re currently living in a city and would like to make a difference to the creation of your own city, drop us a message with your CV attached (optional) to <a href="mailto:team@crowdcities.com?Subject=Hello%20Team" target="_top">team@crowdcities.com</a>, and we’ll be in contact with you to have a quick chat about opportunities working with us.</p>
    </div>
  </div>

</div> 
