<div class="row" style="bottom: 0px; height: 300px; margin: 40px 0 0 0; padding: 40px 0 0 0; background-color: #f8f8f8; border-top: 1px solid #e6e6e6;">
  <div class="container">
    <div class="col-sm-3" style="background-color: #f8f8f8;">
    </div>
    <div class="col-sm-3" style="background-color: #f8f8f8;">
      <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcrowdcities.com" target="_blank"><button class="btn btn-primary">Share on Facebook</button></a>
    </div>
    <div class="col-sm-4">
      <div class="fb-like" data-href="https://www.facebook.com/crowdcities" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="standard" data-action="like" data-show-faces="true" data-send="false"></div>
      <br><br><p>© Copyright 2013 CrowdCities</p>
    </div>
  </div>
</div>