<div class="footer">
	<div class="container" style="padding-top: 10px;">
		<div class="span5">
			<small>
				Crowdcities 2013
			</small>
		</div>

		<div class="span3">
			<div class="fb-like" data-href="https://www.facebook.com/crowdcities" data-send="true" data-width="450" data-show-faces="true" data-font="trebuchet ms" data-colorscheme="light"></div>
		</div>
	</div>
</div>