<div id="navbarExample" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#index"><img src="/assets/cc-brick.svg" width="40" style="padding-bottom: 5px;"> CrowdCities</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class><a href="#communities">Local Communities</a></li>
        <li class><a href="#projects">Projects & Petitions</a></li>
        <li class><a href="#stakeholders">CrowdSourcing</a></li>
      </ul>

    </div>
  </div>
</div>